{namespace test}

/**
 */
{template .basic}
	Success!
{/template}

/**
 */
{template .global}
	{globalvar} Success!
{/template}

/**
 * @param num {Number}
 */
{template .localized}
    {msg desc="You won!"}${$num} success!{/msg}
{/template}

/**
 */
{template .css}
	{css $aThing}
{/template}

/**
 */
{template .bidi}
	{if bidiGlobalDir() == 1}
		yay!
	{/if}
{/template}